/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
#vid-thumb video{
  max-width: 140px;
  height: auto;
  opacity: 1;
  z-index: 2;
  position: absolute;
  left: 30px;
  top: 350px;
}



#videos{
  height: 480px;
}
#vid-box{
  width: 640px;
  height: 480px;
  background-size: 640px 480px;
  background-image: url(../img/video-3.jpg);
  margin-left: 180px;
}
#vid-box  video{
  width: 100%;
  height: auto;
  max-height: 480px;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

h5 a:hover {
  color: #bbdefb;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*-- Fuentes de letras --*/

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(../fonts/Montserrat.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.Montserrat{
  font-family: 'Montserrat', sans-serif;
}
/*------------------------ */
